.container{
    width: 100%;
    min-height: 100vh;
    background: #9090ca;
    padding: 0;
    margin: 0 ;

}

     /* header css / */

.navbar{
    width: 100%;
    height: 10%;
    display: flex;
    /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
   
    background: #fff;
    padding: 15px 7%;
}
.logo{
    cursor: pointer;
    width:100px;
}
.navbar ul{
    flex:2;
    list-style: none;
    align-items: center;
}
.navbar ul li{
    display:  inline-block;
    margin: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

.search-box{
    display: flex;
    width: 32%;
    align-items: center;
    background: #242424;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    padding: 6px;
    background: transparent;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 18px;
    max-width: 200px;
}
.search-box input ::placeholder{
    color: #fff;
}
.search-box img{
    width: 20px;
    cursor: poin;
}
.search-box i{
    color: #fff;
}



    /* Homepage actualy order */


.HomePage{
    margin: 0 0 ;
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    background: #a1a1d4;
} 

.segment-screen{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 80px;
}


/* // segmented */
.segmented-button{
    display: flex;
    height: 60px;
    width: 80%;
    margin: 60px auto;
}
 /* Button .segmented-button {
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    
  } */
  
  .segment {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 36px;
  }
  
  .segment:hover {
    background-color: #e0e0e0;
  }
  
  .segment.selected {
    background-color: #007bff;
    color: white;
    font-size: larger;
    font-weight: 700;
  }
  
  .segment:not(:last-child) {
    border-right: 1px solid #ccc;
  }


  .ActiveOrder{
    margin: 20px 40px;
  }

    
/* }
.HomePage-right-box{
    
    margin: auto;
    height: 90%;
    border-radius: 10px;
}
.Home-Page-col-1{
    background-color: rgb(217, 149, 149);
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Home-Page-col-1-row-1 , .Home-Page-col-1-row-2 , .Home-Page-col-1-row-3 , .Home-Page-col-1-row-3{
    height: 60px;
    font-size: 20px;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 3px solid red;

}


.Home-Page-col-2{
    background-color: #cfdb82;
    width: 75%;
} */